<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Embedded YouTube Video</title>
    <style>
        html, body {
            margin: 0; padding: 0;
        }
        iframe {
            border: none;
            position: fixed;
            left: 0;
            top: 0;
            width: 100vw;
            height: 50vh;
        }
    </style>
</head>
<body>
<iframe id="youtube_video_player"
        th:src="${'https://www.youtube.com/embed/' + videoId + '?autoplay=1&fullscreen=1'}"
        title="YouTube video player"
        allow="autoplay; fullscreen"
        allowfullscreen>
</iframe>
<script>
    setTimeout(function() {
    document.querySelector('iframe').requestFullscreen();
    }, 5000);
</script>
</body>
</html>
